
.inputWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.inputWrapper input {
  flex: 1;
}

.inputWrapper label {
  flex-shrink: 0;
}

.errorMessage {
  color: red;
  text-align: left;
  margin-block: 0px;
}